<p>I am a PhD student in Toulouse studying statistical modeling of plume transport in complex urban environments. 
    I work under the supervision of <a href="https://www.researchgate.net/profile/Melanie-Rochoux">Mélanie Rochoux</a>, 
    <a href="https://perso.limsi.fr/lucor/index.html">Didier Lucor</a> and <a href="https://www.researchgate.net/profile/Thomas-Jaravel">Thomas Jaravel</a>. 
    My PhD started in October 2019 in collaboration with <a href="https://cerfacs.fr/">CERFACS</a> and <a href="https://www.lisn.upsaclay.fr/">LISN (CNRS/Université d'Orsay)</a>. 
    I graduated from <a href="https://www.insa-toulouse.fr/fr/index.html">INSA Toulouse</a> in applied mathematics and hold a MSc in Probability and Statistics (<a href="https://en.wikipedia.org/wiki/Toulouse_III_-_Paul_Sabatier_University">Université Toulouse III Paul Sabatier</a>). 
    I am interested in machine learning and uncertainty quantification applied to environmental problems. My interest in the use of artificial intelligence in society led me to attend two years of undergraduate studies in philosophy and sociology at the <a href="https://fr.wikipedia.org/wiki/Universit%C3%A9_Toulouse-Jean-Jaur%C3%A8s">University Toulouse II Jean Jaurès</a>.
</p>
