<p>I am a PhD student in Toulouse interested in machine learning applied to environmental problems. My research activities focus on statistical modelling
    of plume transport in complex urban environment. I work under the supervision of 
    <a href="https://www.researchgate.net/profile/Melanie-Rochoux">Mélanie Rochoux</a>, <a href="https://perso.limsi.fr/lucor/index.html">Didier Lucor</a> 
    and <a href="https://www.researchgate.net/profile/Thomas-Jaravel">Thomas Jaravel</a>. My PhD thesis started in October 2019 in collaboration with 
    <a href="https://cerfacs.fr/">CERFACS</a> and <a href="https://www.lisn.upsaclay.fr/">LISN (CNRS/University of Orsay)</a>. I graduated from 
    <a href="https://www.insa-toulouse.fr/fr/index.html">INSA Toulouse</a> in applied mathematics and hold a MSc in Probability and Statistics 
    (<a href="https://en.wikipedia.org/wiki/Toulouse_III_-_Paul_Sabatier_University">University Toulouse III Paul Sabatier</a>). 
    In addition to my research activities, I am interested in the ethical issues that arise from the use of artificial intelligence to address societal 
    challenges. I attended two years of undergraduate studies in philosophy and sociology at the
    <a href="https://fr.wikipedia.org/wiki/Universit%C3%A9_Toulouse-Jean-Jaur%C3%A8s">University Toulouse II Jean Jaurès</a>.
</p>
