{% if site.about %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>About</h2>
            </li>
        </ul>
    </nav> 
    {% include about.html %}
{% endif %}

{% if site.skills %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>Skills</h2>
            </li>
        </ul>
    </nav>
    {% include skills.html %}
{% endif %}

{% if site.research %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>Research</h2>
            </li>
        </ul>
    </nav>
    {% include research.html %}
{% endif %}

{% if site.teaching %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>Teaching</h2>
            </li>
        </ul>
    </nav>
    {% include teaching.html %}
{% endif %}

{% if site.projects %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>Projects</h2>
            </li>
        </ul>
    </nav>
    {% include projects.html %}
{% endif %}

{% if site.contact %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>Contact</h2>
            </li>
        </ul>
    </nav>
    {% include contact.html %}
{% endif %}
